*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.logo{
    width: 5%;
    height: 5%;
}
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
/* .admin_image{
    width: 100px;
    object-fit:contain;
} */