@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');
*{
    margin:0;
    padding:0;
}
.container1{
    width:100%;
    height:100vh;
 /* background-image: linear-gradient(to right,#CBEDD5,#97DECE,#62B6B7);*/
 background-image: url("images/e12.jpg");
 background-size: 1700px 750px;
 background-repeat: no-repeat;
 font-family: "Josefin Sans",sans-serif;
 display:flex;
 align-items: center;
 justify-content: center;
 
}
.card1{
    width:550px;
    height:650px;
    box-shadow:0 0 40px 20px rgba(0, 0, 0, 0.658);
    font-family:"Josefin Sans","sans-serif";
    perspective: 1000px;
}
.inner-box{
    position: relative;
    width:100%;
    height:100%;
    transition:transform 1s;
    transform-style: preserve-3d;
}
.card-front, .card-back{
    position: absolute;
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
    padding:55px;
    box-sizing: border-box;
    backface-visibility: hidden;
    font-family:"Josefin Sans","sans-serif";
}
.card-back{
    transform:rotateY(180deg);
}
 .h2{
    font-weight:800;
    font-size: 40px;
    text-align:center;
    margin-bottom: 20px;
    color: #AE00FB;
    
}
.input-box{
    width:100%;
    background:transparent;
    border:1px solid #9AB3F5;
    margin:6px 0;
    height:32px;
    border-radius:20px;
    padding:0 10px;
    box-sizing:border-box;
    outline: none;
    text-align: center;
    color: #7579E7;
    font-family:"Josefin Sans","sans-serif";
}
::placeholder{
    color:#9AB3F5;
    font-size: 18px;
}
button{
    font-family:"Josefin Sans","sans-serif";
    width:100%;
    background: transparent;
    border:1px solid #9AB3F5;
    margin:35px 0 10px;
    height:32px;
    font-size: 18px;
    border-radius:20px;
    padding:0 10px;
    box-sizing:border-box;
    outline: none;
    text-align: center;
    color: #9AB3F5;
    cursor:pointer;
}
.submit-btn{
    position:relative;
}
.submit-btn::after{
    content:'\27a4';
    color:#333;
    line-height:32px;
    font-size:18px;
    height:32px;
    width:32px;
    border-radius:50%;
    background: #9AB3F5;
    position: absolute;
    right:-1px;
    top:-1px
}
span{
    font-size: 18px;
    margin-left:10px;
    color: #9AB3F5;
}
span:hover{
    color:#AE00FB;
}
.card1 .btn1{
    margin-top:50px;
}
.card1 a{
    color:#9AB3F5;
    text-decoration: none;
    display: block;
    text-align:center;
    font-size:18px;
    margin-top:8px;
}
.card1 a:hover{
    color: #AE00FB;
}