*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.logo{
    width: 5%;
    height: 5%;
}
.button text-center button{
    border-radius: 50%;
    border:none;
}
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
/* .admin_image{
    width: 100px;
    object-fit:contain;
} */
/*hero section*/

/*footer*/
p{
    font-size: 15px;
    font-family: "Nunito Sans" , sans-serif ;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}
img{
    max-width: 100%;
}
.nav-link a .nav-item .nav-light{
    color:#7b70b7;
}
a{
    text-decoration: none;
}

input:focus{
    outline: none;
}
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
    color: #ffffff;
}


.footer{
    background: #111111;
    padding-top: 30px;
}
.row1{
    padding-bottom: 20px;
}
.footer-about{
    margin-bottom: 30px;
}
.footer-about .footer-logo{
    margin-bottom: 30px;
}
.footer-widget{
    margin-bottom: 30px;
}
.footer-widget h4{
    color:  #7b70b7;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 2rem;
}
.footer-widget ul li{
    line-height: 36px;
    list-style: none;
    margin-right: 2rem;

}
.footer-widget ul li a{
    color:  #b7b7b7;
    font-size: 15px;
    text-decoration: none;
}
.footer-widget ul li a:hover{
    color: #e53637;
}
.footer-widget .footer-newslatter p{
    color: #b7b7b7;
}
.footer-widget .footer-newslatter form{
    position: relative;
}
.footer-widget .footer-newslatter form input{
    width: 100%;
    font-size: 15px;
    color: #ffffff;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
}
.footer-widget .footer-newslatter form input::placeholder{
    color: #b7b7b7;
}
.footer-widget .footer-newslatter form button{
    color: #b7b7b7;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
}
.footer-copyright-text{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top:2px;
}
.footer-copyright-text p{
    color: #b7b7b7;
    margin-bottom: 0;
}
.footer-copyright-text p i{
    color: #e53637;
}
.footer-copyright-text p a{
    color: #e53637;
    text-decoration: none;
}
.title{
    font-size: 30px;
    color: #C147E9;
}
.txt{
    color:#C4BBF0
}

.cart_image{
    width: 50px;
    height: 50px;
}
